#part1{

    width: 100%;
    height: 400px;
    font-family: Tahoma ,Helvetica,Arial,sans-serif; 
    margin: 0px;
    padding:0px;
    
}

#part2{
    
    background-color: #D0EAFF;
    font-family: Tahoma,Helvetica,Arial,sans-serif; 
    width: 100%;
    height: 500px;
    margin: 0px;
    padding:0x;
}

#part3{
	
    background-color:#ECECEC;
    width: 100%;
    font-family: Tahoma ,Helvetica,Arial,sans-serif; 
    padding:10px;
	
}
img {
text-align:center;
}
p{
	text-align:left;
}
/*nav bar section*/
span{
	float: left;
	color: white;
	display: block;
    padding-right: 15px;
	padding: 10px;
}

span a{
	text-decoration: none; 
	color: #E4001B;
	font-size: 27px; 
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: right;
}

.nav li a {
    display: block;
    padding: 10px;
	font-size: 23px;
	color: #a9a9a9;
	text-decoration: none;  
	padding-right: 15px;
	font-family: Tahoma ,Helvetica,Arial,sans-serif; 
}

ul a:hover{
    color: #E4001B;
}

.nav{
    text-align: right;
    width: 100%;
    height: 55px;
    background: white;
}
/*end of nav bar*/

div#content{
	background-color:red;
}
p#main{
	text-align:center;
	font-family: 'Roboto', sans-serif;
}
#pic img{
    height: 11em;
    width= 11em;

}
#pic{
    text-align: center;
}
#part1 p{
    text-align: center;
   color: #6194BC;
}

/* Intro Paragraph Formating*/
.intro{
	margin:auto;
    text-align: center;
    width: 600px;
	
  
}

.intro h1{
    color: #E4001B;
    font-size: 50px;
    padding-top: 5%;
}

.intro p{
    text-align: center;
    font-size: 18px;
    color: #606060;
    
}

/* team members  Section*/
.overarchTeam {
    margin:auto;
    width: 1320px;
    height: 600px;
    
}
.overarchTeam h1{
    font-size: 50px;
    text-align: center; 
	font-family: Tahoma ,Helvetica,Arial,sans-serif; 
    color: #606060;
    padding-top: 0;
	
}

.teamMember img{
 
    border-radius: 100%;
    height: 200px;
    width: 200px;
     
}
.teamMember p{
    text-align: center;
    color: #6194BC;
    font-size: 19px;
}

.teamMember{
    float: left;
    margin: 2%;
}
#tits{
	color:black;
	text-align:center;
}
#popup,#popup1,#popup2,#popup3,#popup4 {
 font-family: Tahoma ,Helvetica,Arial,sans-serif; 
    text-align: center;
 color: #606060;
}

/*-----------**/

.button {
	/* Defines a button class with some ugly ass gray colour because I'm lazy*/
    border:4px solid;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;

}

#container {
	/*Makes a shitty ass container for testing purposes, because I'm lazy*/
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #ffffff;
    border:4px solid #000000;
    border-radius:5px;
    color: black;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
	height:2930px;

}
#iss1 {
    background-color: #D0EAFF;
    font-family: Tahoma,Helvetica,Arial,sans-serif; 
    width: 100%;
    height: 700px;
    margin: 0px;
    padding:0x;
}
#iss1 p{
color:#606060;
text-align:center;
}
#iss1 h1{
color:#E4001B;
text-align:center;
}
#iss1 h3{
color:#E4001B;
text-align:center;
}
#iss1 ul{
color:#606060;
text-align:left;
}
#issh{
text-align:center;	
font-size:52px;
color: #6194BC;
}
#iss12{

}
#iss12 p{
	text-align:left;
}
input[type=text], textarea, select{
width: 100%;
padding: 13px 21px;
margin: 9px 0;
display: inline-block;
border: 5px solid #ccc;
border-radius: 9px;
box-sizing: border-box;
font-size: 15px;
}